<div style="background-color: #FF8A80">
<?php echo $fileName; ?>
<br>
<?php echo get_class($this); ?>
<br>
<?php echo get_class($block); ?>
<br><br>
<?php if ($block->canShowLink()): ?>
    <?= $block->getActionUrl() ?>
<?php endif; ?>



</div>