<?php $viewModel = $block->getData('view_model')?>
<?php //$viewModel = $block->getViewModel()?>
<div style="background-color: #0fa7ff">
<?php echo $fileName; ?>
<br>
<?php echo get_class($this); ?>
<br>
<?php echo get_class($block); ?>
<br>
<?php echo get_class($viewModel); ?>
<br><br>
<?php if ($viewModel->canShowLink()): ?>
    <?= $viewModel->getActionUrl() ?>
<?php endif; ?>



</div>