<!-- ko if: (freeshippingData().isFreeshipping) -->
<div data-bind="i18n: 'Deliver for Free'"></div>
<!-- /ko -->
<!-- ko ifnot: (freeshippingData().isFreeshipping) -->
<div data-bind="html: $t('%1 left for Freeshipping').replace('%1', freeshippingData().amountLeft)"></div>
<div><span data-bind="html: freeshippingData().amountLeft"></span><span data-bind="i18n: ' left for Freeshipping'"></span></div>
<!-- /ko -->
