<div style="background-color: #FF8A80">
    hjkgfhj afmhasbgfb fdhs gfbdmhnsbfhjds gfhjdasbfhjas
    <button id="submit_btn"><?= __('Click') ?></button>
</div>

<script>
    require([
        'jquery'
    ], function ($){
        $('#submit_btn').click(function () {
            alert('Clicked!');
        });
    });
</script>
