<div class="button-box" style="background-color: #08ff8A">
    hjkgfhj afmhasbgfb fdhs gfbdmhnsbfhjds gfhjdasbfhjas
    <button><?= __('Click') ?></button>
    <button><?= __('Click1') ?></button>
    <button><?= __('Click2') ?></button>
    <button><?= __('Click3') ?></button>
</div>

<script type="text/x-magento-init">
    {
        ".button-box button": {
            "Training_Javascript/js/test_script": {
                "alert_text": "Clicked BUTTONs (custom text)!"
            }
        }
    }
</script>