<div style="background-color: #088Aff">
    hjkgfhj afmhasbgfb fdhs gfbdmhnsbfhjds gfhjdasbfhjas
    <button data-mage-init='{"Training_Javascript/js/test_script": {"alert_text": "Clicked BUTTON 2 (custom text)!"}}'><?= __('Click') ?></button>
</div>
