<div style="background-color: #FF8A80; padding:20px;">
    <div>TEXT FROM UI COMPONENT</div>
    <!-- ko foreach: getRegion('test-ui-child') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
</div>
