<div style="background-color: #FF8A80; padding:20px;">
    <div>TEXT FROM UI COMPONENT</div>
    <!-- ko foreach: getRegion('test-ui-child') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
    
    <button data-bind="click: onClick">CLICK</button>
    
    
    <!-- ko if: canShow() -->
    <!-- ko template: getSecondTemplate() --><!-- /ko -->
    <!-- /ko -->
    
    
    
    <!-- ko if: canShowFlagObservable() -->
    <!-- ko template: getSecondTemplate() --><!-- /ko -->
    
    <div><span data-bind="text: sampleText"></span></div>
    <!-- /ko -->
    
    
</div>
