<?php /* if ($block->getViewModel()->isFreeshiping()): ?>
<div><?= __('Deliver for Free') ?></div>
<?php else: ?>
<div><?= __('%1 left for Freeshipping', $block->getViewModel()->getAmountLeft()) ?></div>
<?php endif; */ ?>
<div data-bind="scope: 'freeshipping'">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "freeshipping": {
                        "component": "Training_Freeshipping/js/freeshipping",
                        "config": {
                            "template": "Training_Freeshipping/freeshipping"
                        }
                    }
                }
            }
        }
    }
</script>
