<div data-bind="scope: 'testUiComponent'">
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!-- ko template: "Training_UiComponents/test-ui-2" --><!-- /ko -->
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "testUiComponent": {
                        "component": "Training_UiComponents/js/test-ui",
                        "config": {
                            "template": "Training_UiComponents/test-ui",
                            "template2": "Training_UiComponents/test-ui-2",
                            "canShowFlag": 1,
                            "sampleText": <?= json_encode(__('sample text'))?>
                        },
                        "children": {
                            "test-ui-child": {
                                "component": "Training_UiComponents/js/test-ui/test-ui-child",
                                "config": {
                                    "template": "Training_UiComponents/test-ui/test-ui-child",
                                    "displayArea": "test-ui-child"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
</script>
