<?php $customString = $block->getSomeString() ?>
<?php // $customString = $block->getData('some_string'); ?>

<div style="background-color: #dddddd; border: solid 2px #000000; padding:20px;">
<?php echo $fileName; ?>
<br>
<?php echo get_class($this); ?>
<br>
<?php echo get_class($block); ?>

<?= $block->getChildHtml('custom-block'); ?>
<?= $block->getChildHtml('custom-view-model'); ?>

<?= $customString ?>
</div>